body
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.Abasuperior
{
    width: 100%;
    height: 15vh;
    background-color: rgb(39, 34, 34);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

    .Nome
    {
        background-color: yellow;
    }

    .Botoes
    {
        width: 50vh;
        background-color: pink;
    }
    
    .Perfil
    {
        width: 10vh;
        background-color: red;
    }

.Corpo
{
    width: 100%;
    height: 100vh;
    background-color:  rgb(57, 54, 54);
}