body
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.Abasuperior
{
    width: 100%;
    height: 13vh;
    background-color: rgb(39, 34, 34);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

    .Logo
    {
        width: 30%;
        height: 13vh;
        background-color: rgb(39, 34, 34);
        margin-left: 15vh;
    }

        .Nome
        {
            width: 50%;
            margin-top: -8.5vh;
        }

    .Botoes
    {
        width: 40%;
        height: 10vh;
        background-color: rgb(39, 34, 34);
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 3vh;
        
    }

        button
        {
            width: 20vh;
            background-color: rgb(39, 34, 34);
            color: #E6852B;
            border-radius: 2vh;
        }
        button:hover
        {
            cursor: pointer;
            background-color: #E6852B;
            color: black;
        }

    
    .Perfil
    {      
        height: 10vh;
        background-color: rgb(39, 34, 34);
        margin-right: 15vh;
    }

.Corpo
{
    width: 100%;
    height: 100vh;
    background-color:  rgb(57, 54, 54);
}