* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(39, 34, 34);
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.Corpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa {
    width: 25vh;
    animation: example 2s forwards;
}

@keyframes example {
    0% {transform: translateY(-100vh); opacity: 0;}

    50% {transform: translateY(23vh);opacity: 1;}

    100% {transform: translateY(17vh);opacity: 1;}
}

.nome {
    width: 100%;
    height: 43vh;
    opacity: 0;
    animation: acender 1s forwards;
    animation-delay: 1.25s;
}

@keyframes acender {
    0% {transform: translateY(5vh);opacity: 0;}

    100% {transform: translateY(-10vh);opacity: 1;}
}