body
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color:  rgb(57, 54, 54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .corpo1
    {
        background-color: rgb(39, 34, 34);
        width: 30%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
        border-radius: 3vh;
    }

        .corpo2
        {
            width: 70%;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    
            .fotoperfil
            {
                width: 45%;
                margin-top: 3vh;
            }
            .txt
            {
                color: white;
                font-size: 3vh;
                font-family: Arial, Helvetica, sans-serif;
            }
    
    .corpo3
    {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

        .texto
        {
            background-color: rgb(57, 54, 54);
            width: 55%;
            height: 5vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 5vh;
            padding-left: 50px;
            padding-right: 50px;
        }
            .imagens
            {
                width: 4vh;
                margin-right: 20px;
            }
            .texto2
            {
                color: #E6852B;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 2vh;
            }
    
    .corpo4
    {
        width: 70%;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .nome
        {
            width: 30vh;
            margin-bottom: 4vh;
        }
           