body {
    background-color: #393636;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.d1 {
    width: 30%;
    height: 50vh;
    background-color: #252323;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5vh;
}

.nome {
    margin-bottom: 25px;
}

.barra 
{
    margin-top: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 25px;
    height: 30px;
    width: 350px;
}

.txt 
{
    width: 45vh;
    height: 30px;
    border-radius: 2vh;
    border: none;
    padding-left: 20px;
}

.esqueceuAsenha {
    margin-top: 20px;
    margin-left: 40%;
    background-color: #252323;
    color: #E6852B;
    border: none;
}
.esqueceuAsenha:hover
{
    background-color: #252323;
    color: #E6852B;
}

.botoes
{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

        button
        {
            width: 20vh;
            height: 30px;
            background-color: #E6852B;
            color: black;
            border-radius: 2vh;
            border: none;
        }
        button:hover
        {
            cursor: pointer;
            background-color: #ecba8c;
            color: black;
        }