body {
    background-color: #393636;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
}

    .corpo
    {
        width: 30%;
        height: 40vh;
        background-color: #252323;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px #E6852B;
    }

        .img
        {
            width: 360px;
            margin-bottom: 30px;
        }
        .txt
        {
            color: #E6852B;
            font-size: 2em;
            font-family: Arial, Helvetica, sans-serif;
        }

        .corpo2
        {
            width: 75%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

            .mensagem
            {
                float: left;
                color: black;
                font-size: 12px;
                width: 60%;
                height: 30px;
                border: none;
                background-color: white;
                display: flex;
                align-items: center;
                border-radius: 25px;
                padding-left: 20px;
            }

            button
            {
                width: 20%;
                height: 30px;
                background-color: #E6852B;
                color: black;
                border-radius: 2vh;
                border: none;
            }
            button:hover
            {
                cursor: pointer;
                background-color: #ecba8c;
                color: black;
            }

    .resposta
    {
        background-color: #252323;
        width: 460px;
        height: 55%;
        box-shadow: 1px 1px #E6852B;
        display: flex;
        text-align: justify;
        overflow-y: scroll;
        word-break: break-word;
        padding-left: 20px;
        color: white;
    }

       