body
{
    background-color: #393636;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
    
    .nome
    {
        margin-bottom: 25px;
    }
    .caixa
    {
        width: 30%;
        height: 60vh;
        background-color: #252323;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5vh;
    }

        .barra
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

            
            .barra2
            {
                margin-top: 20px;
                background-color: white;
                display: flex;
                align-items: center;
                border-radius: 25px;
                height: 30px;
                width: 350px;
                border: none;
            }

        .barra3
        {
            width: 80%;
            height: 10vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

        button
        {
            width: 20vh;
            height: 30px;
            background-color: #E6852B;
            color: black;
            border-radius: 2vh;
            border: none;
        }
        button:hover
        {
            cursor: pointer;
            background-color: #ecba8c;
            color: black;
        }