body
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.Abasuperior
{
    width: 100%;
    height: 12vh;
    background-color: rgb(39, 34, 34);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
    .quadrado1
    {
        width: 90px;
        height: 12vh;
    }
    .quadrado2
    {
        width: 250px;
        height: 12vh;
    }

    .Logo
    {
        width: 250px;
        height: 12vh;
    }

        .Nome
        {
            width: 250px;
            height: 60px;
            margin-top: 15px;
        }

    .Botoes
    {
        width: 600px;
        height: 12vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;      
    }

        button
        {
            width: 20vh;
            height: 30px;
            background-color: #E6852B;
            color: black;
            border-radius: 2vh;
            border: none;
        }
        button:hover
        {
            cursor: pointer;
            background-color: #ecba8c;
            color: black;
        }

    .Login
    {
        width: 80px;
        height: 80px;
    }
    .Perfil
    {      
        width: 70px;
        height: 70px;
        margin-top: 6px;
    }

.Corpo
{
    width: 100%;
    height: 100vh;
    background-color:  rgb(57, 54, 54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .Frase
    {
        width: 70%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
    }

        .txt
        {
            font-size: 2em;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
        .subtxt
        {
            font-size: 1.5em;
            color: rgb(199, 189, 189);
            font-family: Arial, Helvetica, sans-serif;
        }

    .corpopesquisa
    {
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .frete
        {
            width: 34%;
            height: 15vh;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
        .pesquisa
        {
            width: 35%;
            height: 20vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .estado
        {
            width: 370px;
            height: 30px;
            border-radius: 2vh;
            border: none;
            padding-left: 20px;
        }

    .abas
    {
        width: 40%;
        height: 55vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5vh;
    }

        .botaocaixa
        {
            width: 30vh;
        }
        .botaocarteira
        {
            width: 30vh;
        }