body
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.Abasuperior
{
    width: 100%;
    height: 13vh;
    background-color: rgb(39, 34, 34);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

    .Logo
    {
        width: 30%;
        height: 13vh;
        background-color: rgb(39, 34, 34);
        margin-left: 15vh;
    }

        .Nome
        {
            width: 50%;
            margin-top: -9vh;
        }

    .Botoes
    {
        width: 40%;
        height: 10vh;
        background-color: rgb(39, 34, 34);
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 3vh;
        
    }

        button
        {
            width: 20vh;
            height: 3vh;
            background-color: #E6852B;
            color: black;
            border-radius: 2vh;
            border: none;
        }
        button:hover
        {
            cursor: pointer;
            background-color: #ecba8c;
            color: black;
        }

    
    .Perfil
    {      
        width: 9vh;
        height: 9vh;
        background-color: rgb(39, 34, 34);
        margin-right: 15vh;
    }

.Corpo
{
    width: 100%;
    height: 100vh;
    background-color:  rgb(57, 54, 54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .Frase
    {
        width: 70%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
    }

        .txt
        {
            font-size: 2em;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
        .subtxt
        {
            font-size: 1.5em;
            color: rgb(199, 189, 189);
            font-family: Arial, Helvetica, sans-serif;
        }

    .pesquisa
    {
        width: 35%;
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

        .estado
        {
            width: 45vh;
            height: 3vh;
            border-radius: 2vh;
            border: none;
        }

    .abas
    {
        width: 40%;
        height: 60vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 12vh;
    }

        .botaocaixa
        {
            width: 30vh;
        }
        .botaocarteira
        {
            width: 30vh;
        }